@model IEnumerable<GestionEtudiantApp.Models.Etudiant>

@{
    ViewBag.Title = "Liste des étudiants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des étudiants</h1>

<div class="text-right mb-3">
    <a id="ajoutEtudiant" class="btn btn-primary" href="Etudiants/Create" role="button">Nouvel étudiant</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Sexe</th>
                <th>Date de Naissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexe)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateNais)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })">Détails</a>
                            <a class="btn btn-warning" href="@Url.Action("Edit", new { id = item.Id })">Editer</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Supprimer</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
